[submodule "libraries/Fleet-Provisioning/Fleet-Provisioning-for-AWS-IoT-embedded-sdk"]
	path = libraries/Fleet-Provisioning/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
